<h1> Create New Event </h1>

<% if @event.errors.any? %>
	<div id="error_explanation" class="alert alert-dismissible alert-danger">
	<h3><%= pluralize(@event.errors.count, "error") %> prevented this event from being created:</h3>

		<ul>
		<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<%end %>
		</ul>
	</div>
<% end %>

<%= form_for @event do |f| %>
  	<%= f.text_field :name, class: 'form-control', placeholder: "Event Name" %>
	<br />
	<p> Start time: </p>
	<% if session[:hour_format] == 24 %>
	<%= f.datetime_select :start, minute_step: 30, ampm: false %>
	<% else %>
	<%= f.datetime_select :start, minute_step: 30, ampm: true %>
	<% end %>
	<br />
	<br />
	<p> End time: </p>
	<% if session[:hour_format] == 24 %>
	<%= f.datetime_select :end, minute_step: 30, ampm: false %>
	<% else %>
	<%= f.datetime_select :end, minute_step: 30, ampm: true %>
	<% end %>
	<br />
	<br />
 	<%= f.submit 'Go', class: 'btn btn-primary btn-success btn-info-lg'%>
<% end %>
