<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		<b>Owner:</b>
		<%= @event.owner.email %>
	</p>
	<br>
	<h3>Availabilities</h3>
	<table class="table table-striped">
		<thead>
			<th style="width:20%;">Time Slot</th>
			<th style="width:60%;">Users Attending</th>
			<th style="width:20%;">Add?</th>
		</thead>
		<tbody>
			<% @event.availabilities.each do |a| %>
				<tr>
					<td><%= a.start.strftime('%H:%M %p on %d/%m/%Y') %></td>
					<td>
						<% a.users.each do |u| %>
							<%= u.email %>, 
						<% end %>
					</td>
					<td>
						
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<% if current_user == @event.owner %>
		<h3> Admin Tools </h3>
		<p class="lead"> Event Name </p>
		<%= form_for @event, html: {class: 'form-inline'} do |f|%>
			<%= f.text_field :name, class: 'form-control', placeholder: 'Event Name', value: ''%>
			<%= f.submit "Change Name", class: 'btn btn-primary'%>
		<% end %>
	<% end %>


</div>
