<div class="container">
	<h1>
		<%= @event.name %>
	</h1>

	<p>
		<b>Owner:</b>
		<%= @event.owner.email %>
	</p>
	<br>

	<% $a = Array.new %>
	<% @availabilities.each do |a| %>
		<% a.users.each do |u| %>
			<% $a.push(u.email) %>
		<% end %>
	<% end %> 

	<h4>Participants: <%= $a.uniq.count %></h4>
	<h4>Availabilities: <%= @event.availabilities.distinct.count %></h4>
	<div >
	<% @dates.each do |d|%>
		<hr>
		<h3><%= d %></h3>
		<p>Cop to new day: </p>
		<%= form_tag url_for(:controller => 'availabilities', :action => 'copydays') do %>
			<%= select_date(Date.today)%>
			<%= hidden_field_tag :date_o, d %>
			<%= hidden_field_tag :event_id, @event.id %>
			<%= submit_tag('Add', class: "btn btn-primary") %>
		<% end %>
		<hr>
		<div class="availability-block">
		<% @first_date = @availabilities.first.start%>
		<% @availabilities.each do |a|%>
			<% @last_date = a.start  + 30.minute%>
			<% if a.start.to_date == d%>
				<div style="margin:10px; padding:10px; border-radius:3px;
				<% if a.users.include?(current_user) %>
					color:black;
					background:lightblue;
				<% else %>
					background:grey;
				<% end %>
				">
					<% if session[:hour_format] == 24 %>
					<%= a.start.strftime('%H:%M') %><br />
					<% else %>
					<%= a.start.strftime('%l:%M %p') %><br />
					<% end %>
					<% a.users.each do |u| %>
						<%= u.email %><br />
					<% end %>

					<% if current_user%>
					<div class="buttons">
						<% if a.users.include?(current_user)%>
							<%= form_tag url_for(:controller => 'availabilities', :action => 'leave') do %>
								<%= hidden_field_tag :availability_id, a.id%>
								<%= hidden_field_tag :user_id, current_user.id%>
								<%= submit_tag("Leave", class: "btn btn-warning")%>
							<% end %>
						<% else %>
							<%= form_tag url_for(:controller => 'availabilities', :action => 'join') do %>
								<%= hidden_field_tag :availability_id, a.id%>
								<%= hidden_field_tag :user_id, current_user.id%>
								<%= submit_tag("Join", class: "btn btn-success")%>
							<% end %>
						<% end %>
					</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
		</div>
	<% end %>
	</div>

	<h3>Add more:</h3>
	<%= form_tag availabilites_make_path do %>
		<%= hidden_field_tag :event_id, @event.id%>
		<%= hidden_field_tag :last_date, @last_date%>
		<p> Start time: </p>
		<% if session[:hour_format] == 24%>
			<%= select_datetime(@first_date, minute_step: 30, prefix: '_start')%>
		<% else %>
			<%= select_datetime(@first_date, ampm: true, minute_step: 30, prefix: '_start')%>
		<% end %>
		<br />
		<br />
		<p> End time: </p>
		<% if session[:hour_format] == 24%>
			<%= select_datetime(@last_date, minute_step: 30, prefix: '_end')%>
		<% else %>
			<%= select_datetime(@last_date, ampm: true, minute_step: 30, prefix: '_end')%>
		<% end %>
			
		<br />
		<br />
		<%= submit_tag 'Go', class: 'btn btn-primary btn-success btn-info-lg'%>
	<% end %>

	<h3>Tasks</h3>
	<table class="table table-striped">
		<thead>
			<th>Name</th>
			<th>Current Assignee</th>
		</thead>
		<tbody>
			<% @tasks.each do |task| %>
			<tr>
				<td>
					<%= task.name %>
				</td>
				<td>
					<% if task.user %>
						<% if task.user == current_user %> 
							<%= simple_form_for [@event, task], :method => :patch, class: "form-inline" do |form| %>
								You
								<%= form.hidden_field :user, :value => "" %>
								<%= form.button :submit, :value => "Unassign", class: "btn btn-primary btn-danger btn-sm" %>
							<% end %>
						<% else %>
							<%= task.user.email %>
						<% end %>
					<% else %>
						<%= simple_form_for [@event, task], :method => :patch, class: "form-inline" do |form| %>
							No one has signed up yet
							<%= form.hidden_field :user, :value => current_user.id %>
							<%= form.button :submit, :value => "Sign up", class: "btn btn-primary btn-success btn-sm" %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<% if current_user == @event.owner %>
		<h3> Admin Tools </h3>
		<p class="lead"> Event Name </p>
		<%= form_for @event, html: {class: 'form-inline'} do |f|%>
			<%= f.text_field :name, class: 'form-control', placeholder: 'Event Name', value: ''%>
			<%= f.submit "Change Name", class: 'btn btn-primary'%>
		<% end %>

		<br/>
		<p class="lead"> Edit Tasks </p>
		<table class="table table-striped">
			<thead>
				<th>Name</th>
				<th>Current Assignee</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<% @tasks.each do |task| %>
					<%= simple_form_for [@event, task], :method => :patch do |form| %>
						<tr>
							<td>
								<%= form.text_field :name, :value => task.name, class: "form-control" %>
							</td>
							<td>
								<%= task.user&.email || "No one assigned yet" %>
							</td>
							<td>
								<%= form.button :submit, :value => "Update", class: "btn btn-primary btn-warning btn-sm"%>
								<%= link_to "Delete", event_task_path(@event, task), :method => :delete, class: "btn btn-primary btn-danger btn-sm" %>
							</td>
						</tr>
					<% end %>
				<% end %>
				<tr>
					<td colspan="2" class="lead">
						<%= simple_form_for [@event, Task.create] do |form| %>
							<%= form.text_field :name, :placeholder => "Task name", class: "form-control" %>
					</td>
					<td>
							<%= form.button :submit, class: "btn btn-success" %>
						<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	<% end %>


</div>
